@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CookiesJs</title>
    <script src="~/Source/Test/scripts/js.cookie.js"></script>
</head>
<body>
    <div>
        this is cookies test  !!! hey
        i'm here
        and you can do   <a href="https://github.com/js-cookie/js-cookie" target="_blank">go to source</a>



    </div>
</body>
</html>
