@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>javascript</title>
</head>
<body>
    <div>
        <a href="https://github.com/airbnb/javascript" target="_blank">go to source</a>
       <p>var a = 1;
var b = 2;
           </p> 
    </div>
</body>
</html>
