@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jquery</title>
    <script src="~/Source/Test/scripts/jquery-2.2.3.js"></script>
</head>
<body>
    <div>
        <span id="s1"></span>
        <span class="s2"></span>
        <span class="s2">Jquery Test!!!!!</span>
    </div>
</body>
</html>
