@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LinqJs</title>
</head>
<body>
    <div>
        <a href="https://github.com/joaom182/linqjs">LinqJs</a>
    </div>
    <script src="~/Source/Test/scripts/linq.js"></script>
</body>
</html>
