@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Md5Js</title>
</head>
<body>
    <div>
        this is Md5 Test   <a href="https://github.com/blueimp/JavaScript-MD5" >go to source</a>

        <p>var hash = md5("value") </p>
    </div>
</body>
<script src="~/Source/Test/scripts/md5.js"></script>
</html>
